body {
    margin: 0;
    padding: 0;

}
#container {
    display: flex;
    flex-direction: column;
    height: 800px;
    width: auto;
    padding: 2% 5%;
}

.grid {
    flex: 1;
    border: .5px solid black;
    transition: background .5s;
    background-blend-mode: multiply;
}

.row {
    display: flex;
    flex: 1;
}

#resize {
    display: flex;
    justify-content: center;
}

#dimensions {
    display: flex;
    justify-content: center;
}
